<html lang="{{app.request.locale}}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>
        {% block title %}
            M-Blog
        {% endblock title %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}"/>
    {% block stylsheets %}
        <!-- Google fonts-->
        <link href="{{ asset('font_lora.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('font_open.css') }}" rel="stylesheet" type="text/css"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    {% endblock stylsheets %}
</head>
<body>
<!-- Navigation-->
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <div class="list-inline-item">
                <a href="">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-brand">M-Blog</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('index') }}">{{ 'home'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('about') }}">{{ 'about'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">{{ 'posts'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="">{{ 'contact'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-warning"
                                            href="">{{ 'login'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-warning"
                                            href="">{{ 'signup'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}
<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url({{ asset('assets/img/home-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>M-Blog</h1>
                    <span class="subheading">{{ 'title.desc'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block main %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{{path('post',{'id':post.id})}}">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.content|u.truncate(30,'...')}}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">User</a>
                        {{post.createAt|format_datetime( locale= app.request.locale)}}
                    </p>
                </div>
                    <hr class="my-4"/>
                {% endfor %}
                <!-- Divider-->
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                        Posts →</a></div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block footer %}
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; M-Blog 2021</div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
{% block javascripts %}
    <!-- Font Awesome icons (free version)-->
    <script src="{{ asset('js/all.js') }}" crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core theme JS-->
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock javascripts %}

</body>
</html>
